.DS_Store
.idea/
/.idea/
.vs/
/.vs/
.vscode/
/.vscode/
Makefile

*.spv



cmake-build-debug/
cmake-build-release/
cmake-build-debug-visual-studio
cmake-build-release-visual-studio
out/
/out/
build/
/build/
build-release/
/build-release/